@import "bootstrap";
@import "toastr";
@import "font-awesome";

.form-design{
  border-radius: 6px;
  border:1px solid grey;
}

.avatar-small{
  width: 28px;
}
.avatar-medium{
  width: 48px;
}
select{
  width: 100%;
  background-color: white;
  border: 1px solid grey;
  padding: 10px;
  appearance: none;
}

.select:before{
  content: "\25bc";
  position: absolute;
  top: 45px;
  right: 30px;
}

.preview{
  padding: 0;
  img{
    width: 100%;
  }
}
.del{
  text-decoration: line-through;
}

.unavailable{
  color: red;
  font-size: 15px;
}

.red{
  color: red;
}
.discovery-card{
  background-size: cover;
  background-position: center;
  height: 326px;
}

#main{
  height: 100%;
  overflow: hidden;
}

#left{
  padding: 10px 400px 10px 20px;
  overflow: scroll;
  height: 100%;
}
#right{
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
}
  
.arrow::after {
  content: "\f078";
  font-family: "FontAwesome"
}

.arrow[aria-expanded="true"]::after {
	content: "\f077";
  font-family: "FontAwesome"
}
