@import "bootstrap";
@import "toastr";
@import "font-awesome";

.form-design{
  border-radius: 6px;
  border:1px solid grey;
}

.avatar-small{
  width: 28px;
}
.avatar-medium{
  width: 100px;
}
select{
  width: 100%;
  background-color: white;
  border: 1px solid grey;
  padding: 10px;
  appearance: none;
}

.select:before{
  content: "\25bc";
  position: absolute;
  top: 45px;
  right: 30px;
}

.preview{
  padding: 0;
  img{
    width: 100%;
  }
}
.del{
  text-decoration: line-through;
}